  <!-- <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
  <body>
    <div class="container">
      <nav>
          <ul>
              <% if (userName) { %>
              <li>Welcome <%= userName %></li>
              <li><a href="/followers">Followers</a></li>
              <li><a href="/following">Following</a></li>
              <li><a href="/signout">Sign Out</a></li>
                <% } else { %>
              <li><a href="/signup">Sign Up</a></li>
              <li><a href="/signin">Sign In<a></li>
                <% } %>
          </ul>
        </nav>
    </div>
  </body> -->