<link href="../css/style.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
<body>
 <div class="container">
   <nav>
       <ul>
           <li><a href="/signout">Sign Out</a></li>
       </ul>
     </nav>
 </div>
</body>