<%- include('partials/exploreHeader', { userName })%>

<link href="../css/explore.style.css" rel="stylesheet" type="text/css">

<body>
    <% for (var i = 0; i < allPhotosSignedURLs.length; i++) { %>
        <div class="displayImages">
            <div class="images">
                <img src="<%= allPhotosSignedURLs[i] %>" alt="" height="200px" width="200px">
            </div>
            <p class="displayUsername"><a href="/profile/<%= allPhotos.Items[i].Name %>"><%= allPhotos.Items[i].Name %></a></p>
        </div>
    <% } %>
</body>
