<%- include('partials/signout')%>

<h1>This is <%= id %>'s Page</h1>

<% for (var i = 0; i < usersSignedURLs.length; i++) { %>
    <img src="<%= usersSignedURLs[i] %>" alt="" height="200px" width="200px">
<% } %>

</body>