
<link href="../css/sign.style.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">

<div class="box" id="signinform">
    <img src="../images/Image.jpg" alt="PhotoBook Logo" class="logo"/> 
        <div class="container">
            <a href="/signup">Sign Up</a>
            <a href="/signin">Sign In<a>
        </div>
</div>