<%- include('partials/exploreHeader', { userName })%>
<link href="../css/explore.style.css" rel="stylesheet" type="text/css">

<body>
    <h2 class="following">This user doesn't exist</h2>
</body>
    