body {
    font-family: 'Concert One', cursive;
    background-color: #FAEBD7;
    margin: 10px;
}

ul{
    margin: 0;
    padding: 0;

    display: flex;
  }

a {
    text-decoration: none;
}

nav {
    width: 100vw;
    float: right;
  }

h1 {
    margin-right: 100px;
}

img {
    border-width: 8px black;
}

.container #signinform {
    text-align: center;

}

ul li {
    display: inline-block;
    padding: 20px;
    margin: 0 2vw;
}